Repository BasisTI/madre, pull requests merged in 2021-08, with the labels that each got.

#312 Exportar consultas emergenciais - BASIS-191264
  consulta/pom.xml
  consulta/src/main/docker/Dockerfile
  consulta/src/main/docker/postgresql.yml
  consulta/src/main/java/br/com/basis/consulta/repository/EmergenciaRepository.java
  consulta/src/main/java/br/com/basis/consulta/service/EmergenciaService.java
  consulta/src/main/java/br/com/basis/consulta/service/ExportarEmergenciaService.java
  consulta/src/main/java/br/com/basis/consulta/web/rest/EmergenciaResource.java
  consulta/src/main/resources/config/application-dev.yml
  consulta/src/test/java/br/com/basis/consulta/web/rest/EmergenciaResourceIT.java
  frontend/src/app/consulta/components/listar-consultas/listar-consultas.component.html
  frontend/src/app/consulta/components/listar-consultas/listar-consultas.component.ts
  frontend/src/app/consulta/consulta.service.ts
Labels: java, javascript

#315 Cadastrar exames - BASIS-219531
  exames/.jhipster/Exame.json
  exames/modelo-solicitacao-exame.jdl
  exames/pom.xml
  exames/src/main/docker/app.yml
  exames/src/main/java/br/com/basis/madre/madreexames/domain/Exame.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/ExameDTO.java
  exames/src/main/resources/config/application-prod.yml
  exames/src/main/resources/config/liquibase/changelog/20210812090408_added_entity_ExameCompleto.xml
  exames/src/main/resources/config/liquibase/master.xml
  exames/src/test/java/br/com/basis/madre/madreexames/web/rest/ExameResourceIT.java
  frontend/proxy.conf.json
  frontend/src/app/app.component.ts
  frontend/src/app/exames/components/formulario-exame/formulario-exame.component.css
  frontend/src/app/exames/components/formulario-exame/formulario-exame.component.html
  frontend/src/app/exames/components/formulario-exame/formulario-exame.component.ts
  frontend/src/app/exames/components/solicitar-exame/solicitar-exame.component.ts
  frontend/src/app/exames/exames.module.ts
  frontend/src/app/exames/exames.routes.ts
  frontend/src/app/exames/models/dropdowns/situacao.dropdown.ts
  frontend/src/app/exames/models/subjects/amostra.ts
  frontend/src/app/exames/models/subjects/exames-model.ts
  frontend/src/app/exames/models/subjects/material.ts
  frontend/src/app/exames/services/exames.service.ts
Labels: enhancement

#322 Basis 219533 - Criar módulo de Material de análise
  exames/.jhipster/Exame.json
  exames/.jhipster/Material.json
  exames/modelo-solicitacao-exame.jdl
  exames/src/main/java/br/com/basis/madre/madreexames/domain/Exame.java
  exames/src/main/java/br/com/basis/madre/madreexames/domain/Material.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/ExameDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/MaterialDTO.java
  exames/src/main/resources/config/liquibase/changelog/20210705114608_added_entity_Material_Atualizado.xml
  exames/src/main/resources/config/liquibase/master.xml
  exames/src/test/java/br/com/basis/madre/madreexames/web/rest/ExameResourceIT.java
  exames/src/test/java/br/com/basis/madre/madreexames/web/rest/MaterialResourceIT.java
  frontend/src/app/app.component.ts
  frontend/src/app/exames/components/cadastrar-material/cadastrar-material.component.css
  frontend/src/app/exames/components/cadastrar-material/cadastrar-material.component.html
  frontend/src/app/exames/components/cadastrar-material/cadastrar-material.component.ts
  frontend/src/app/exames/exames.module.ts
  frontend/src/app/exames/exames.routes.ts
  frontend/src/app/exames/models/dropdowns/atividade.dropdown.ts
  frontend/src/app/exames/models/subjects/material-de-analise.ts
  frontend/src/app/exames/services/material-de-analise.service.ts
Labels: java, javascript

#324 Adicionar lista de solicitações - BASIS-220951
  exames/pom.xml
  exames/src/main/docker/Dockerfile
  exames/src/main/java/br/com/basis/madre/madreexames/repository/SolicitacaoExameRepository.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/ExportarSolicitacaoService.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/SolicitacaoExameService.java
  exames/src/main/java/br/com/basis/madre/madreexames/web/rest/SolicitacaoExameResource.java
  frontend/src/app/app.component.ts
  frontend/src/app/exames/components/listar-solicitacoes/listar-solicitacoes.component.css
  frontend/src/app/exames/components/listar-solicitacoes/listar-solicitacoes.component.html
  frontend/src/app/exames/components/listar-solicitacoes/listar-solicitacoes.component.ts
  frontend/src/app/exames/exames.module.ts
  frontend/src/app/exames/exames.routes.ts
  frontend/src/app/exames/services/solicitacao-exame.service.ts
Labels: enhancement, java, javascript
