Repository BasisTI/madre, pull requests merged in 2021-09, with the labels that each got.

#343 Resolver mais problemas do Sonar. - BASIS-221543
  exames/src/main/java/br/com/basis/madre/madreexames/config/KafkaProperties.java
  exames/src/main/java/br/com/basis/madre/madreexames/domain/enumeration/ConvenioPlano.java
  exames/src/main/java/br/com/basis/madre/madreexames/domain/enumeration/FormaEnvio.java
  exames/src/main/java/br/com/basis/madre/madreexames/domain/enumeration/GrupoSanguineo.java
  exames/src/main/java/br/com/basis/madre/madreexames/domain/enumeration/Raca.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/MaterialDeExameCompletoDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/ProjetoDePesquisaDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/SolicitacaoExameCompletoDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/TipoAmostraDTO.java
  exames/src/test/java/br/com/basis/madre/madreexames/web/rest/CadaverResourceIT.java
  exames/src/test/java/br/com/basis/madre/madreexames/web/rest/ControleQualidadeResourceIT.java
  exames/src/test/java/br/com/basis/madre/madreexames/web/rest/LaboratorioExternoResourceIT.java
Labels: bug, java

#348 Corrigir erros do sonar - BASIS-214044
  exames/src/main/java/br/com/basis/madre/madreexames/repository/GradeDeAgendamentoRepository.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/GradeDeAgendamentoService.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/HorarioAgendadoService.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/GradeDeAgendamentoDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/MaterialDeExameCompletoDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/ProjetoDePesquisaDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/SolicitacaoExameCompletoDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/TipoAmostraDTO.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/integracao/InternacaoClient.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/integracao/SegurancaClient.java
  exames/src/main/java/br/com/basis/madre/madreexames/web/rest/GradeDeAgendamentoResource.java
  exames/src/main/java/br/com/basis/madre/madreexames/web/rest/HorarioAgendadoResource.java
  frontend/src/app/exames/components/formulario-horarios-agendados/formulario-horarios-agendados.component.ts
  frontend/src/app/exames/components/listar-grade-de-exame/listar-grade-de-exame.component.ts
  frontend/src/app/exames/services/grade-de-agendamento.service.ts
Labels: java, javascript

#356 Cadastar tipos de marcaçao - BASIS - 228234
  frontend/src/app/app.component.ts
  frontend/src/app/exames/components/formulario-recipientes/formulario-recipientes.component.css
  frontend/src/app/exames/components/formulario-recipientes/formulario-recipientes.component.html
  frontend/src/app/exames/components/formulario-recipientes/formulario-recipientes.component.ts
  frontend/src/app/exames/components/formulario-tipo-de-marcacao/formulario-tipo-de-marcacao.component.css
  frontend/src/app/exames/components/formulario-tipo-de-marcacao/formulario-tipo-de-marcacao.component.html
  frontend/src/app/exames/components/formulario-tipo-de-marcacao/formulario-tipo-de-marcacao.component.ts
  frontend/src/app/exames/components/grade-agendamentos/grade-agendamentos.component.html
  frontend/src/app/exames/exames.module.ts
  frontend/src/app/exames/exames.routes.ts
  frontend/src/app/exames/services/cadastrar-tipos-de-marcacao.service.ts
Labels: enhancement, java, javascript

#355 Adicionar cadastro de sala - BASIS-228235
  exames/.jhipster/Sala.json
  exames/modelo-solicitacao-exame.jdl
  exames/src/main/java/br/com/basis/madre/madreexames/domain/Sala.java
  exames/src/main/java/br/com/basis/madre/madreexames/service/dto/SalaDTO.java
  exames/src/main/resources/config/liquibase/changelog/20210818154925_updated_entity_Sala.xml
  exames/src/main/resources/config/liquibase/master.xml
  exames/src/test/java/br/com/basis/madre/madreexames/web/rest/SalaResourceIT.java
  frontend/src/app/app.component.ts
  frontend/src/app/exames/components/formulario-anticoagulante/anticoagulante.component.css
  frontend/src/app/exames/components/formulario-anticoagulante/anticoagulante.component.html
  frontend/src/app/exames/components/formulario-anticoagulante/anticoagulante.component.ts
  frontend/src/app/exames/components/formulario-salas/formulario-salas.component.css
  frontend/src/app/exames/components/formulario-salas/formulario-salas.component.html
  frontend/src/app/exames/components/formulario-salas/formulario-salas.component.ts
  frontend/src/app/exames/exames.module.ts
  frontend/src/app/exames/exames.routes.ts
  frontend/src/app/exames/services/salas.service.ts
  frontend/src/app/shared/components/unidade-funcional/unidade-funcional.component.css
  frontend/src/app/shared/components/unidade-funcional/unidade-funcional.component.html
  frontend/src/app/shared/components/unidade-funcional/unidade-funcional.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: enhancement, java, javascript
